h1{
  text-align: center;

}
.oll{
  background-color: antiquewhite;
  width: 960px;
  margin: auto;
  
}
.bookInput{
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  margin: 6px;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  background-color: aquamarine;
  text-align: center;
}
button:hover{
  cursor : pointer;
  box-shadow:5px 5px #353535;
}
button:active{
  box-shadow: 0 0;
    transform: translate(5px, 5px);
}
.hogeButton{
  text-align: center;
}
.icon{
  width: 200px;
}